@import './../../assets/styles/helpers/colors';
@import './../../assets/styles/helpers/fonts';

.recurrence-form {
    width: 200px;
    padding: 15px 20px;
    position: relative;
}

.recurrence-form__arrow {
    position: absolute;
    top: -18px;
    right: 13px;
    color: $green;
    font-size: 30px;
    pointer-events: none;
}

.recurrence-form--margin {
    width: 300px;
    margin-top: 5px;

    .recurrence-form__arrow {
        top: -23px;
    }
}

.recurrence-form hr {
    border: 0;
    border-top: 1px solid $green-light;
}

.recurrence-form__note {
    font-size: 14.5px;
    line-height: 20px;
}

.recurrence-form__ruletype {
    display: flex;
    width: 100%;
    margin: 0 0 8px;
}

.recurrence-form__weekday {
    display: flex;
    width: 100%;
    margin: 0 0 8px;
}

.recurrence-radio {
    flex-grow: 1;
    flex-basis: 0;
}

.recurrence-radio:first-child .recurrence-radio__btn {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.recurrence-radio:last-child .recurrence-radio__btn {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-right: 1px solid $green-light;
}

.recurrence-radio__btn {
    text-align: center;
    border-top: 1px solid $green-light;
    border-left: 1px solid $green-light;
    border-bottom: 1px solid $green-light;
    padding: 6px 0 7px;
    font-size: 15px;
    cursor: pointer;
}

.recurrence-radio__btn:hover {
    background: $green-light;
}

.recurrence-radio__btn--active {
    background: $green-link-hover;
}

.recurrence-radio__btn--active:hover {
    background: $green-link-hover;
}

.recurrence-radio__input {
    position: absolute;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    visibility: hidden;
}

.weekday-checkbox {
    flex-grow: 1;
    flex-basis: 0;
}

.weekday-checkbox:first-child .weekday-checkbox__btn {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.weekday-checkbox:last-child .weekday-checkbox__btn {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-right: 1px solid $green-light;
}

.weekday-checkbox__btn {
    text-align: center;
    border-top: 1px solid $green-light;
    border-left: 1px solid $green-light;
    border-bottom: 1px solid $green-light;
    padding: 6px 0 7px;
    font-size: 14px;
    cursor: pointer;
}

.weekday-checkbox__btn:hover {
    background: $green-light;
}

.weekday-checkbox__btn--active {
    background: $green-link-hover;
}

.weekday-checkbox__btn--active:hover {
    background: $green-link-hover;
}

.weekday-checkbox__input {
    position: absolute;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    visibility: hidden;
}

.interval {
    margin: 0 0 8px;
}

.interval__input {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    text-align: center;
    border: 2px solid $gray-light;
    border-radius: 5px;
    color: lighten($dark-blue, 10%);
    font-size: 13px;
    font-family: roboto;
    font-weight: 400;
    line-height: 30px;

    &:focus,
    &:active {
        outline: none;
        border-color: darken($gray-light, 5%);
    }
}

.interval__label {
    line-height: 30px;
}

.interval__time {
    line-height: 30px;
}

.interval__btn {
    background: transparent;
    border: 0;
    color: white;
    width: auto;
    outline: none;
    margin: 5px 0 0;
    padding: 0;
    font-family: $source-sans-pro;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;

    &:hover {
        color: $green-link-hover;
    }
}

.interval__btn--loading {
    display: flex;
    justify-content: flex-end;
    padding: 12px 7px 0 0;

    div {
        width: 6px;
        height: 6px;
        margin: 1px;
    }
}

.interval__btn--right {
    float: right;
}

.until {
    margin: 0 0 10px;
}

.until__label {
    display: inline-block;
    padding: 5px 0 0;
}

.until__input {
    width: auto;
    height: 30px;
    margin: 0 0 0 14px;
    padding: 0 8px;
    border: 2px solid $gray-light;
    border-radius: 5px;
    color: lighten($dark-blue, 10%);
    font-size: 13px;
    font-family: roboto;
    font-weight: 400;
    line-height: 30px;

    &:focus,
    &:active {
        outline: none;
        border-color: darken($gray-light, 5%);
    }
}
