.account-locked {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &__logo {
        display: block;
        margin: 0 auto 20px;
    }

    &__box {
        display: block;
        float: left;
        width: 425px;
    }

    &__title {
        font-size: 24px;
        font-weight: 900;
        text-align: center;
        margin: 0 0 18px;
    }

    &__desc {
        font-size: 16px;
        margin: 0 0 16px;
        line-height: 20px;
    }
}
