/**
 *  Dashboard Calendar header
 *
 *  Hint: These are the custom header styles for the dashboard
 *        calendar which is the main interface calendar on the
 *        site when the user logs in.
 */
.calendar-header {
    position: relative;
    height: 50px;

    &__center {
        text-align: center;
        line-height: 50px;
    }

    &__left {
        position: absolute;
        z-index: 10;
        top: 8px;
        left: 15px;
    }

    &__right {
        position: absolute;
        z-index: 10;
        top: 8px;
        right: 15px;
    }

    &__dropdown {
        display: inline-block;
    }

    &__date {
        font-size: 16px;
        font-weight: 600;
        color: $dark-blue;
    }

    &__year {
        font-weight: 300;
        color: $gray-dark;
    }
}

/**
 *  Dashboard Full Calendar Styling
 *
 *  Hint: These are the styles for the main full dashboard
 *        calendar.
 */
.dashboard-calendar {
    position: relative;

    .fc {
        .fc-head {
            position: absolute;
            pointer-events: none;
        }

        .fc-widget-header {
            border: 0;
            position: relative;
            z-index: 4;
        }

        .fc-widget-content {
            border-color: $gray-light;
            border-left: 0;
            border-right: 0;
        }

        .fc-day-header {
            text-align: left;
            line-height: 1;
            font-weight: 300;
            padding: 9px 0 0 10px;
        }

        .fc-highlight {
            background: $green;
            opacity: 1;
        }

        .fc-row {
            table {
                border: inherit;
            }

            .fc-content-skeleton {
                bottom: 0;
                padding: 0;
                pointer-events: none;
            }

            .fc-bgevent-skeleton,
            .fc-highlight-skeleton {
                bottom: 0;

                table {
                    height: 2px;
                }
            }
        }

        .fc-more {
            display: block;
            float: left;
            color: $green;
            text-decoration: none;
            margin: 2px 5px 0;
            border-radius: 6px;
            line-height: 1;
            pointer-events: all;
            font-family: $roboto;

            &:hover {
                color: $dark-blue;
            }
        }

        .fc-basic-view {
            .fc-day {
                border-left: 1px solid $gray-light;
                border-right: 1px solid $gray-light;
                border-top: 0;

                &.fc-today {
                    background: white;
                }

                &.fc-day-hover {
                    background: darken($gray-lightest, 0.2%);
                }
            }

            .fc-day-number {
                padding: 7px 10px 0 0;
                line-height: 1;
                font-weight: 600;
                color: $dark-blue;

                &.fc-other-month {
                    opacity: 0.2;
                }

                &.fc-today {
                    color: $yellow-dark;
                    border-top: 2px solid $yellow;
                    background: transparent;
                }
            }

            .fc-week {
                border-top: 1px solid $gray-light;
            }
        }

        .fc-basicWeek-view {
            .fc-content-skeleton {
                padding-top: 30px;
            }
        }

        .fc-basicDay-view {
            .fc-content-skeleton {
                padding-top: 30px;
            }
        }
    }
}

/**
 *  Dashboard Full Calendar Event styling
 *
 *  Hint: These are the styles for the main full dashboard
 *        calendar event items.
 */
.dashboard-calendar {
    .fc-day-grid-event {
        margin: 0;
        padding: 0;

        &.fc-event {
            border: 0;
            border-radius: 6px;
            line-height: 14px;
            font-size: 100%;
            background: lighten($gray-light, 4%);
            color: $gray-light;
            margin: 0 5px 2px;
            padding: 6px 7px 5px;
            pointer-events: all;

            &.fc-loading {
                .fc-time {
                    display: none;
                }

                .fc-event-loader {
                    display: block;
                    background-image: linear-gradient(
                        90deg,
                        transparent 0%,
                        lighten($gray-light, 4%) 25%
                    );
                }
            }

            &.fc-dragging,
            &:hover {
                background: $green;
                padding: 6px 7px 4px 1px;
                border-bottom: 1px solid $green-highlight;

                .fc-drag {
                    display: inline-block;
                    color: darken($green, 15%);
                    text-shadow: 0 0.5px 0 lighten($green, 4%);
                }

                .fc-title,
                .fc-time {
                    color: white;
                }

                .fc-event-loader {
                    background-image: linear-gradient(
                        90deg,
                        transparent 0%,
                        $green 25%
                    );

                    div {
                        background: darken($green, 15%);
                        box-shadow: 0 0.5px 0 lighten($green, 4%);
                    }
                }
            }

            &:active {
                background: lighten($green, 2%);
            }

            &.fc-conflict {
                background: $yellow;

                .fc-time {
                    color: white;
                }

                &:hover {
                    border-color: $yellow-dark;

                    .fc-drag {
                        display: inline-block;
                        color: darken($yellow, 15%);
                        text-shadow: 0 0.5px 0 lighten($yellow, 4%);
                    }
                }
            }
        }

        .fc-drag {
            display: none;
            line-height: 19px;
            font-size: 13px;
            padding: 0 5px 0 6px;
            cursor: move;
            float: left;
        }

        .fc-content {
            height: 18px;
        }

        .fc-title {
            font-size: 15px;
            font-weight: 600;
            line-height: 17px;
            color: $dark-blue;
        }

        .fc-time {
            color: $gray-dark;
            font-size: 12px;
            font-weight: normal;
            line-height: 17px;
            float: right;
        }

        .fc-event-loader {
            display: none;
            width: auto;
            height: auto;
            position: absolute;
            top: 8px;
            right: 3px;
            margin: 0;
            text-align: center;
            z-index: 10;
            padding: 4px 4px 4px 12px;

            div {
                display: block;
                width: 5px;
                height: 5px;
                margin: 0 1px;
                float: left;
                background: $gray-dark;
            }
        }
    }
}

.fc-not-allowed {
    cursor: pointer !important;

    .dashboard-calendar {
        .fc-event {
            cursor: pointer !important;

            &.fc-dragging {
                background: $yellow;
                border-color: $yellow-dark;

                .fc-drag {
                    color: darken($yellow, 15%);
                    text-shadow: 0 0.5px 0 lighten($yellow, 30%);
                }
            }
        }
    }
}

/**
 *  Datepicker styling
 *
 *  Hint: These are the styles for the input date picker
 *        calendar using the Full Calendar library.
 */
.date-picker {
    &__header {
        position: relative;
    }

    &__date {
        text-align: center;
    }

    &__button {
        position: absolute;
        top: 0;
        color: white;

        &--left {
            left: 0;
        }

        &--right {
            right: 0;
        }
    }

    &__time {
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid $green-light;
        padding: 0 0 10px;
        margin: 0 0 10px;
    }

    .fc {
        margin: 15px 0 0;

        .fc-widget-header,
        .fc-widget-content {
            border: 0;
            font-weight: 300;
            font-size: 15px;
            text-transform: uppercase;
        }

        .fc-content-skeleton {
            padding: 0;
        }

        .fc-widget-header {
            &.fc-row {
                margin-bottom: 5px;
            }
        }

        .fc-basic-view {
            .fc-day-number {
                text-align: center;
                font-weight: 600;
                padding: 5px;
                border: 0em;
                cursor: pointer;
                font-size: 16px;

                &:hover {
                    border-radius: 4px;
                    background: $green-light;
                }
            }

            .fc-day {
                &.fc-day-active {
                    border-radius: 4px;
                    background: $green-light;
                }
            }

            .fc-today {
                background: transparent;
            }

            .fc-body {
                .fc-row {
                    min-height: auto;
                }
            }
        }
    }
}
