/**
 *  Dropdown menu styles
 *
 *  Hint: These are the green menu's that drop down from
 *        the top level nav and a few other places on
 *        the site.
 */
.dropdownmenu {
    width: 250px;
    padding: 15px 20px;
    border-radius: 3px;
    background: $green;
    color: white;
    position: absolute;
    z-index: 100;
    visibility: hidden;
    border-bottom: 1px solid $green-highlight;

    &--show {
        animation: dropdown-flyin 0.10s;
        visibility: visible;
        top: 59px;
    }

    &__close {
        float: right;
        cursor: pointer;
        width: 0em;
        height: 0em;
        overflow: hidden;

        &:hover {
            &:before {
                color: $green-link-hover;
            }
        }

        &:before {
            position: absolute;
            top: 16px;
            right: 20px;
            font-size: 18px;
        }
    }

    &__arrow {
        position: absolute;
        top: -7px;
        left: 12px;

        &--right {
            left: auto;
            right: 12px;
        }

        &--user {
            left: 30px;
        }

        &--search-options {
            right: 30px;
            left: auto;
        }
    }

    &--list {
        top: 30px;
        right: 21px;
    }

    &--spaces {
        top: 30px;
        right: -223px;
    }

    &--user {
        top: 61px;
        left: 10px;
    }

    &--organization {
        left: 360px;
    }

    &--calendar-view {
        top: 45px;
        left: -5px;
    }

    &--export {
        top: 45px;
        left: 66px;
    }

    &--calendar-filter {
        top: 45px;
        left: 30px;
    }

    &--datepicker {
        top: 70px;
        left: 0em;
    }

    &--modal-options {
        top: 48px;
        right: 0;
    }

    &--recurrence {
        top: 48px;
        right: 39px;
        min-width: 250px;
        width: auto;
    }

    &--search-options {
        right: 65px;
        width: 300px;
    }

    &__list-item {
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
        cursor: pointer;

        &--border-bottom {
            border-bottom: 1px solid $green-light;
            margin: 0 0 10px;
            padding: 0 0 10px;
        }
    }

    &__list-link {
        display: block;
        width: auto;
        color: white;
        padding: 4px 0 6px;

        &:hover {
            transition: background 0.3s;
            margin: 0 -7px;
            padding: 4px 7px 6px;
            background: $green-light;
            border-radius: 3px;
            color: white;

            .dropdownmenu__list-count {
                background: $green;
            }
        }

        &--active {
            @include icon("\f00c", "after");
            background: transparent;
            cursor: default;

            &:after {
                float: right;
                font-size: 17px;
                color: $green-highlight;
                text-shadow: 0 0.5px 0 lighten($green, 5%);
                margin-right: -3px;
            }

            &:hover {
                background: transparent;
            }
        }

        &--icon-trash {
            @include icon("\f1f8", "after");

            &:after {
                float: right;
                font-size: 17px;
                color: $green-highlight;
                text-shadow: 0 0.5px 0 lighten($green, 5%);
            }
        }

        &--icon-recurrence {
            @include icon("\F021", "after");

            &:after {
                float: right;
                font-size: 17px;
                color: $green-highlight;
                text-shadow: 0 0.5px 0 lighten($green, 5%);
            }
        }
    }

    &__list-count {
        float: right;
        font-size: 14px;
        font-weight: 600;
        background: $green-light;
        border-radius: 3px;
        margin: -1px 0 0;
        padding: 2px 7px;
    }

    &__clicker {
        display: none;
        position: absolute;
        z-index: 9;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &__select {
        color: $dark-blue;
    }
}

.dd-content {
    position: absolute;
    z-index: 99;
    top: 59px;
    right: 10px;
    width: 325px;
    background: white;
    border: 1px solid $gray-light;
    border-radius: 4px;

    &__arrow {
        position: absolute;
        top: -8px;
        right: 35px;
    }

    &__highlight {
        height: 7px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        background: $green;
        margin: -1px -1px 0;
    }

    &__content {
        padding: 15px 25px;
    }
}

.search-result {
    &:last-child {
        .search-result__title {
            border-bottom: 0;
        }
    }

    &__icon {
        font-size: 13px;
        margin: 0 7px 0 0;
        color: darken($green, 15%);
    }

    &__title {
        display: block;
        font-size: 14px;
        line-height: 1;
        padding: 10px 0;
        border-bottom: 1px solid $gray-light;
        color: $dark-blue;

        &:hover {
            color: $dark-blue;
            background: darken($gray-lightest, 0.5%);
            border-color: darken($gray-lightest, 0.5%);
            margin: -1px -10px 0;
            padding: 11px 10px 10px;
            border-radius: 4px;
        }
    }

    &__type {
        margin: 5px 0 0;
        font-size: 12px;
        font-weight: 600;
        display: block;
        color: $gray-dark;
    }
}
