/**
 *  Icon link
 *
 *  Hint: Icon links hide the text and can be found in places like
 *        the rooms info in the buildings and rooms listing.
 */
.icon-links {
    display: inline-block;
    font-size: 15px;

    &--list {
        font-size: 18px;
        vertical-align: middle;
    }

    &--button {
        font-size: 17.7px;
        padding: 8px;

        &:before {
            display: inline-block;
            vertical-align: middle;
        }

        &:hover {
            border-color: $gray-light;
        }
    }

    &--larger {
        font-size: 20px;
    }

    &--active {
        color: $green-success;
    }

    &--button-adjust {
        line-height: 18px;
    }

    &--cc {
        font-size: 26px;
    }

    &__text {
        display: block;
        width: 0em;
        height: 0em;
        overflow: hidden;
        padding: 0;

        &--show {
            display: inline-block;
            vertical-align: middle;
            width: auto;
            height: auto;
            margin-left: -8px;
            font-family: $source-sans-pro;
            font-size: 15px;
            line-height: 18px;
        }
    }
}
