/**
 *  Standard List styles
 *
 *  Hint: Can be found listing the buildings.
 */
.list {
    clear: left;
    padding-top: 20px;
    margin: 0 auto;
    max-width: 1000px;

    &__item {
        width: 100%;
        float: left;
        position: relative;
        margin: 0 0 30px;
    }

    &__item-title-wrapper {
        width: auto;
        float: left;
        position: relative;
    }

    &__item-title {
        margin: 0 0 10px;
        padding: 0;
        font-size: 18px;
        font-weight: 500;
        color: $green;
        float: left;

        &--link {
            cursor: pointer;

            &:hover {
                color: $green-link-hover;
            }
        }

        &:after {
            font-size: 16px;
            padding: 0 0 0 8px;
            vertical-align: bottom;
            color: $gray-dark;
        }
    }

    &__item-actions {
        float: right;
    }
}

/**
 *  Sub list styling
 *
 *  Hint: Sub list styling to use for listing of items
 *        that will be edited or managed like building
 *        rooms.
 */
.sub-list {
    width: 100%;
    float: left;
    border-top: 1px solid $gray-light;

    &__item {
        width: 100%;
        float: left;
        border-bottom: 1px solid $gray-light;
        padding: 10px 0;

        &--note {
            text-align: center;
            border-bottom: none;
            font-size: 15px;
            font-weight: 300;
            line-height: 22px;
            color: $gray-dark;
        }

        &--link {
            cursor: pointer;

            &:hover {
                color: $green;
            }
        }
    }

    &__item-title {
        width: auto;
        float: left;
        line-height: 18px;
        font-size: 15px;

        &--detail {
            font-weight: 100;
            font-size: 13px;
            margin-left: 5px;
            color: $gray-dark;
        }
    }

    &__item-options {
        position: relative;
        width: auto;
        height: 18px;
        float: right;
    }

    &__item-option {
        width: auto;
        float: left;
        font-size: 17px;
        padding: 0 0 0 5px;

        &--message {
            background: $green-success;
            padding: 4px 10px 4px;
            border-radius: 14px;
            font-size: 13px;
            color: white;
        }

        a {
            &:before {
                line-height: 18px;
                display: inline-block;
                width: 25px;
                text-align: center;
                padding: 5px 0;
                margin: -5px 0 0 0;
            }
        }
    }
}
