/**
 *  Announcement count
 *
 *  Hint: Little bubble over the bell that shows new a count of new announcements
 */
.announcement-count {
    position: absolute;
    top: -2px;
    right: 0px;
    min-width: 15px;
    background: $red;
    font-family: $source-sans-pro;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    text-align: center;
    padding: 0px 3px 1px;
    border-radius: 15px;
    color: white;
}

.search {
    margin: 0 0 0 8px;
    position: relative;

    &__input {
        border: 0;
        width: 225px;
        height: 30px;
        padding: 0 30px 0 15px;
        font-size: 14px;
        font-family: $roboto;
        font-weight: 300;
        border-radius: 15px;

        &:focus {
            outline: none;
        }
    }

    &__icon {
        position: absolute;
        z-index: 5;
        top: 5px;
        right: 6px;
        font-size: 19px;
        color: $red;
        cursor: pointer;

        &:hover {
            color: lighten($red, 7%);
        }
    }
}
