/**
 *  Messages styles
 *
 *  Hint: These styles show up in various parts of the site,
 *        mostly with forms to inform the user of success
 *        or erros that occur.
 */
.messages {
    font-size: 15px;
    font-weight: 600;
    line-height: 17px;
    color: white;
    border-radius: 3px;

    &--error {
        background: $red;
    }

    &--success {
        background: $green-success;
    }

    &--button {
        position: absolute;
        bottom: 115px;
        z-index: 1;
        left: -15px;
        width: 405px;
    }

    &--button-popup {
        position: absolute;
        bottom: 60px;
        z-index: 1;
        left: -15px;
        width: 405px;
    }

    &--button-popup-sub {
        position: absolute;
        bottom: 60px;
        z-index: 1;
        left: 346px;
        width: 405px;
    }

    &__message {
        display: inline-block;
        padding: 15px 17px;
    }

    &__arrow {
        position: absolute;
        z-index: 1;
        width: 19px;
        height: 7px;
        margin: 0 0 0 95px;

        &--error {
            background: url("./assets/images/layout/error-arrow.png");
        }

        &--popup {
            margin: 0 0 0 55px;
        }
    }
}
