/**
 *  Modal popup styles
 *
 *  Hint: These styles are for the model forms that popup in various
 *        areas of the site. Most noteably the create booking/reservation.
 */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;

    &__icon {
        display: block;
        position: relative;
        top: -16px;
        margin: 0 auto;
        border: 2px solid white;
        border-radius: 50%;
        box-sizing: content-box;
        height: 35px;
    }

    &__content {
        width: 500px;
        max-height: 500px;

        &--reservation {
            width: 840px;
            max-height: 650px;
        }

        &--confirm {
            width: 400px;
        }

        &--settings {
            width: 500px;
            max-height: 550px;
        }
    }

    &__inner {
        width: 100%;
        float: left;
        padding: 20px 25px;

        p {
            color: lighten($dark-blue, 10%);
            line-height: 22px;
            margin-bottom: 25px;
        }

        strong {
            font-weight: bold;
        }
    }

    &__title {
        font-size: 16px;
        text-align: center;
        border-bottom: 1px solid $gray-light;
        margin: 0;
        padding: 12px 0;
        color: $dark-blue;
        font-weight: 600;

        &--icon {
            margin: -10px 0 0;
            padding: 0 0 11px;
        }
    }

    &__cancel {
        cursor: pointer;
        padding-top: 10px;
        font-size: 15px;
        font-weight: 500;
        position: absolute;
        bottom: 25px;
        right: 25px;
    }

    &__options {
        position: absolute;
        top: 12px;
        right: 11px;
    }

    &__options-dropdown {
        float: left;
    }

    &__options-btn {
        width: 40px;
        border: 1px solid #ebebeb;
        padding: 9px 11px;
        background: white;
        float: left;
        color: #36424a;
        font-size: 13px;
        outline: none;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            color: $green;
        }

        &--active {
            color: $green-success;
        }

        &--inactive {
            color: lightgray;
            cursor: not-allowed;

            &:hover {
                color: lightgray;
            }
        }

        &--left {
            border-radius: 0;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            border-right: 0;
        }

        &--right {
            border-radius: 0;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }
}

/**
 *  ngDialog overrides
 *
 *  Hint: Overrides for the ng dialog box from the core defaults
 *        provided by the library.
 */
.ngdialog {
    background: transparent;

    &-overlay {
        background: rgba($dark-blue, 0.3);
        margin: 0;
    }

    &-content {
        position: relative;
        z-index: 1000;
        border-radius: 3px;
    }

    &-link {
        display: inline-block;
        cursor: pointer;
        font-weight: 400;
        font-size: 14px;
        margin: 0 0 0 10px;
    }

    &-link-icon {
        &:before {
            vertical-align: middle;
        }
    }
}
