/**
 *  Section Title
 *
 *  Hint: These are the main section title for each section,
 *        found right under the main menu bar.
 */
.section-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 50px;
    text-align: center;
    color: $dark-blue;
    border-bottom: 2px solid $gray-light;
}

/**
 *  Header
 *
 *  Hint: These are the header styles for the any general section
 *        of the main interface.
 */
.header {
    position: relative;
    height: 50px;

    &__center {
        text-align: center;
        line-height: 50px;
    }

    &__left {
        position: absolute;
        z-index: 10;
        top: 8px;
        left: 15px;
    }

    &__right {
        position: absolute;
        z-index: 10;
        top: 8px;
        right: 15px;
    }
}

/**
 *  Styles for the EMS Section
 */
.ems-section {
    display: block;
    float: left;
    width: 100%;

    &--loading {
        overflow: hidden;
    }
}
