/**
 *  Select2 Dropdown menu styles
 *
 *  Hint: These are the green menu's that drop down from
 *        the top level nav and a few other places on
 *        the site.
 *  Note: Althought using a style of BEM, select2 doesn't implement
 *        it that well.
 */
.select2-container--dropdown {
    .select2-selection--single {
        outline: none;
        padding: 4px 7px 5px;
        margin: 0 -7px;
        height: 26px;

        &:hover {
            transition: background 0.3s;
            background: $green-light;
            border-radius: 3px;
            color: white;
        }

        .select2-selection__rendered {
            padding: 0 16px 0 0;
            height: 18px;
            overflow: hidden;
        }

        .select2-selection__arrow {
            @include icon("\f107");
            font-size: 24px;
            position: absolute;
            top: 1px;
            right: 0;
        }
    }

    &.select2-container--open {
        .select2-selection--single {
            transition: background 0.3s;
            background: $green-light;
            border-radius: 3px;
            color: white;
        }

        .select2-selection__arrow {
            @include icon("\f106");
        }
    }

    .select2-dropdown {
        border-radius: 0em;
        width: 224px !important;
        padding: 5px;
        top: 1px;
        left: -7px;
        border: 1px solid $gray-light;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

        .select2-results {
            &__option {
                border-radius: 2px;
                color: $dark-blue;

                &--highlighted {
                    background: $gray-light;
                }
            }
        }
    }
}

/**
 *  Select2 Dropdown Datepicker styles
 *
 *  Note: Althought using a style of BEM, select2 doesn't implement
 *        it that well.
 */
.select2-container--dropdown-datepicker {
    display: block;
    float: left;
    margin-right: 0.2rem;

    .select2-selection--single {
        outline: none;
        padding: 3px 7px 6px;
        height: 26px;
        border: 1px solid $green-light;
        border-radius: 3px;

        &:hover {
            transition: background 0.3s;
            background: $green-light;
            color: white;
        }

        .select2-selection__rendered {
            padding: 0 16px 0 0;
            overflow: visible;
        }

        .select2-selection__arrow {
            @include icon("\f107");
            font-size: 24px;
            position: absolute;
            top: 0;
            right: 7px;
        }
    }

    &.select2-container--open {
        .select2-selection--single {
            transition: background 0.3s;
            background: $green-light;
            border-radius: 3px;
            color: white;
        }

        .select2-selection__arrow {
            @include icon("\f106");
        }
    }

    .select2-dropdown {
        border-radius: 0em;
        width: 150px !important;
        padding: 5px;
        border: 1px solid $gray-light;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);

        .select2-results {
            max-height: 130px;
            overflow: auto;

            &__option {
                border-radius: 2px;
                color: $dark-blue;

                &--highlighted {
                    background: $gray-light;
                }
            }
        }
    }
}

/**
 *  Select2 Modal styles
 *
 *  Hint: These are the green menu's that drop down from
 *        the top level nav and a few other places on
 *        the site.
 *  Note: Althought using a style of BEM, select2 doesn't implement
 *        it that well.
 */
.select2-container--modal {
    .select2-selection--single {
        outline: none;

        .select2-selection__rendered {
            width: 100%;
            float: left;
            border-radius: 5px;
            border: 2px solid $gray-light;
            font-family: roboto;
            line-height: 32px;
            color: lighten($dark-blue, 10%);
            outline: none;
            height: 35px;
            padding: 0 7px;
            font-size: 13px;
            font-weight: 400;
        }

        .select2-selection__placeholder {
            color: $gray-dark;
        }

        .select2-selection__arrow {
            @include icon("\f107");
            font-size: 24px;
            position: absolute;
            top: 5px;
            bottom: 6px;
            right: 8px;
            border-left: 1px solid $gray-light;
            padding-left: 7px;

            &:before {
                padding: 1px 0 0;
            }
        }
    }

    &.select2-container--focus {
        .select2-selection__rendered {
            border-color: darken($gray-light, 5%);
        }
    }

    &.select2-container--open {
        z-index: 99999;

        .select2-selection__arrow {
            @include icon("\f106");
            top: 4px;
        }

        .select2-selection__rendered {
            border-color: darken($gray-light, 5%);
        }
    }

    &.select2-container--disabled {
        .select2-selection__rendered {
            opacity: 0.5;
        }
    }

    .select2-dropdown {
        border-radius: 5px;
        padding: 5px;
        border: 2px solid $gray-light;
        max-height: 205px;
        overflow: auto;
        margin: 0;

        &--above {
            margin: -1px 0;
        }

        &--below {
            margin: 1px 0;
        }

        .select2-search {
            &--dropdown {
                padding: 10px 0;
            }

            &__field {
                margin: 0;
                padding: 0 6px 10px;
                border: 0;
                font-size: 14px;
                color: $dark-blue;
                border-bottom: 1px solid $gray-light;

                &:focus {
                    outline: none;
                }
            }
        }

        .select2-results {
            &__option {
                border-radius: 2px;
                color: $dark-blue;
                font-size: 14px;

                &--highlighted {
                    background: $gray-light;
                }
            }
        }
    }
}
