/**
 *  Subscription container
 */
.subscription {
    width: 1000px;
    margin: 0 auto;
}

/**
 *  Current subscription details
 */
.subscription-details {
    width: 50%;
    float: left;
    padding: 20px 20px 20px 0;

    &__chunk {
        border-bottom: 1px solid $gray-light;
        margin: 0 0 20px;
        padding: 0 0 20px;

        &:last-child {
            border-bottom: 0;
        }
    }

    &__status {
        text-transform: capitalize;

        &--active {
            color: green;
        }

        &--locked {
            color: red;
        }
    }

    h2 {
        margin: 0 0 20px;
        padding: 0;
        font-size: 18px;
        font-weight: 500;
        color: $green;
    }

    h3 {
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        margin: 0 0 5px;
    }

    p {
        font-size: 16px;
        line-height: 22px;
    }

    strong {
        font-weight: 700;
    }

    ul {
        font-size: 14px;
        line-height: 20px;
    }
}

/**
 *  Payment History styles
 */
.payment-history {
    width: 50%;
    float: left;
    padding: 20px 0 20px 20px;

    &__li {
        width: 100%;
        float: left;
        border-bottom: 1px solid $gray-light;
        padding: 0 0 10px;
        margin: 0 0 10px;

        &:last-child {
            border-bottom: 0;
        }
    }

    &__col {
        width: 50%;
        float: left;
        text-align: right;
        font-size: 14px;

        &--date {
            font-weight: 600;
            text-align: left;
        }
    }

    h2 {
        margin: 0 0 20px;
        padding: 0;
        font-size: 18px;
        font-weight: 500;
        color: $green;
    }
}

.sub-modal {
    width: 100%;
    float: left;

    &__info {
        width: 40%;
        float: left;
        position: relative;
        background: $gray-light;
        margin: 0 25px 0 0;
        padding: 15px;
        height: 238px;
        border-radius: 3px;

        p {
            margin: 0 0 15px;
        }
    }

    &__itpx {
        width: 100%;
        float: left;
        margin: 6px 0;
        font-size: 14px;
        font-weight: 600;
        color: $dark-blue;
    }

    &__question {
        margin: 0 0 0 6px;
        color: $green;
    }

    &__rule {
        width: 100%;
        float: left;
        border: 0;
        height: 1px;
        background: darken($gray-light, 10%);

        &--top {
            margin-top: 0;
        }
    }

    &__itpx-left {
        float: left;

        &--large {
            font-size: 20px;
            font-weight: 900;
            margin: 0;
        }
    }

    &__itpx-right {
        float: right;

        &--large {
            font-size: 20px;
            font-weight: 900;
            margin: 0;
        }
    }

    &__money {
        font-weight: 100;
        font-size: 13px;
        text-transform: uppercase;
    }

    &__modal {
        width: 60%;
        float: left;
    }

    &__price {
        display: block;
        text-align: center;
        font-size: 32px;
        font-weight: bold;
    }
}
