.tab {
    margin: 0 15px 0 0;
    padding: 0 0 6px;
    float: left;

    &--active {
        border-bottom: 2px solid $green;
    }

    &__panel {
        width: 100%;
        float: left;
        padding: 24px 0 0;
        border-top: 1px solid $gray-light;
    }
}
