@import "../helpers/fonts";
@import "../helpers/mixins";

@import "~reset-css/reset";
@import "~loaders.css/src/animations/ball-pulse";

.loader-wrapper {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    z-index: 9999;

    &--opac {
        background: rgba(white, 0.5);
    }
}

.loader {
    display: block;
    width: 100px;
    height: 19px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -50px;
    text-align: center;

    &--search {
        position: relative;
        margin-top: 0;
        height: auto;

        div {
            width: 10px;
            height: 10px;
            margin: 1px;
        }
    }

    div {
        background: #e2e3e4;
        display: inline-block;
    }
}
