<div data-mve-modal="{{ roomFormCtrl.title }}" data-icon="assets/building.svg">
    <p data-ng-show="roomFormCtrl.isNewRoom()" style="text-align: center;">Each new space will add <strong>$9.99 USD</strong> to your monthly subscription.</p>
    <div data-mve-form-wrapper="roomForm" data-loading-flag="roomFormCtrl.isLoading" data-loading-text="Saving...">
        <div data-mve-input="roomFormCtrl.room.name" data-disable="roomFormCtrl.isLoading" data-label="Name" data-type="text" data-ident="room-name" data-classes="input__text" data-autofocus="true"></div>
        <div data-mve-input="roomFormCtrl.room.number" data-disable="roomFormCtrl.isLoading" data-label="Room No." data-type="text" data-ident="room-number" data-classes="input__text"></div>
        <div data-mve-input="roomFormCtrl.room.seats" data-disable="roomFormCtrl.isLoading" data-label="Available Seats" data-type="text" data-ident="room-seats" data-classes="input__text"></div>
        <div data-mve-textarea="roomFormCtrl.room.features" data-disable="roomFormCtrl.isLoading" data-label="Additional space information" data-type="textarea" data-ident="room-features" data-classes="input__textarea"></div>
        <div class="button">
            <button type="submit" data-ng-click="roomFormCtrl.submitForm()" class="button__button" data-ng-class="{ 'button__button--loading': roomFormCtrl.isLoading }">{{ roomFormCtrl.buttonText }}</button>
        </div>
    </div>
</div>
