@import "../../../node_modules/breakpoint-sass/stylesheets/breakpoint";
@import "../../assets/styles/helpers/colors";
@import "../../assets/styles/helpers/fonts";

.reservation {
    position: absolute;
    top: 0;
    z-index: 9999;
    display: flex;
    width: 100%;
    height: calc(100vh);
    align-items: center;
    justify-content: center;
}

.reservation-modal {
    min-width: 1000px;
    width: 1000px;
    height: 521px;
    background: white;
    border: 1px solid lightgray;
    border-radius: 4px;
    margin: 0 25px;
    padding: 30px;

    &__icon {
        display: flex;
        justify-content: center;
        position: relative;
    }

    &__icon-img {
        position: absolute;
        top: -45px;
        border: 2px solid white;
        border-radius: 20px;
    }
}

.reservation-form {

    &__title {
        font-size: 32px;
        font-weight: 700;
    }

    &__title-input {
        font-size: 32px;
        border: 0;
        font-weight: 700;
        font-family: $source-sans-pro;
        border-bottom: 1px solid transparent;
        line-height: 1;
        width: 100%;
        margin: -5px 20px -5px 0;
        padding: 0 0 5px;
        color: $dark-blue;

        &:focus {
            outline: none;
            box-shadow: 0;
            border-bottom-color: $gray-dark;
            color: $green;

            &:hover {
                border-bottom-color: $gray-dark;
            }
        }

        &:hover {
            border-bottom-color: $gray-medium;
        }
    }

    &__title-date {
        margin: 0 0 0 20px;
        color: $green;
        font-size: 20px;
    }

    &__title-section {
        position: relative;
        display: flex;
        width: 100%;
        align-items: center;
    }

    &__options {
        margin-left: auto;
    }

    &__options-list {
        display: flex;
        align-items: center;
    }

    &__options-item {
        margin-left: 20px;
        font-size: 18px;

        &:first-child {
            margin-left: 0;
        }

        &--save {
            padding: 0 15px;
            border-left: 1px solid $gray-medium;
            border-right: 1px solid $gray-medium;
        }
    }

    &__options-span {
        color: $gray-medium;
    }

    &__options-link {

        &--close {
            font-size: 22px;
        }
    }

    &__options-btn {
        font-family: roboto;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        color: white;
        background-color: $green;
        border: 0;
        padding: 0 10px;
        border-bottom: 1px solid $green-highlight;
        outline: none;
        cursor: pointer;
        min-width: 125px;
        line-height: 30px;
        border-radius: 2px;

        &:hover {
            background: $green-button-hover;
        }

        &:active {
            background: $green;
        }

        &--disabled {
            background: $gray-light;
            color: lighten($gray-dark, 20%);
            border-color: lighten($gray-dark, 25%);
            cursor: auto;

            &:hover {
                background: $gray-light;
            }
        }
    }

    &__timeline {
        margin: 20px 0;
    }

    &__times {
        text-align: center;
        margin: 10px 0;
        font-size: 32px;
    }

    &__time {
        margin: 0 10px;
        font-family: $source-sans-pro;
        font-weight: bold;
    }

    &__details {
        display: flex;
    }

    &__info {
        margin-right: 20px;
        min-width: 350px;
    }

    &__info-inner {
        width: 100%;
    }

    &__info-section {
        display: flex;
        padding: 14px 0;
        border-top: 1px solid lightgray;
    }

    &__info-label {
        display: block;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 3px;
    }

    &__comments {
        position: relative;
        width: 100%;
        border: 1px solid lightgray;
        border-radius: 4px;

        label {
            display: block;
            font-size: 14px;
            font-weight: bold;
            padding: 14px 14px 0;
        }

        textarea {
            display: block;
            width: 100%;
            height: 148px;
            border: 0;
            resize: none;
            margin: 16px 0;
            padding: 0 14px;
            font-size: 15px;
            font-family: $source-sans-pro;
            color: $dark-blue;

            &:focus {
                outline: none;
            }
        }
    }

    &__repeat-btn {
        margin-left: auto;
    }

    &__repeat-icon {
        pointer-events: none;

        &--active {
            color: $green-success;
        }
    }

    &__close-link {
        margin-left: 5px;
    }

    &__recurrence {
        position: absolute;
        top: 42px;
        right: 234px;
        z-index: 99;
        background: $green;
        color: white;
        border-radius: 3px;
    }
}

.timeline {
    position: relative;

    &__container {
        display: flex;
        width: 100%;
        user-select: none;
        border-bottom: 2px solid $gray-dark;
    }

    &__section {
        flex-grow: 1;
        flex-basis: 0;

        &:first-child {
            .timeline__section-time {
                border-left: 1px solid $gray-light;
            }
        }

        &:hover {
            .timeline__section-header {
                color: $dark-blue;
            }
        }

        &--disabled {
            &:hover {
                .timeline__section-header {
                    color: $gray-dark;
                }

                .timeline__section-time {
                    background: white;
                    cursor: default;
                }
            }
        }
    }

    &__section-header {
        padding: 3px 0 5px;
        color: $gray-dark;
        font-size: 13px;
        font-weight: 100;
    }

    &__section-time {
        border-right: 1px solid $gray-light;
        height: 150px;

        &:hover {
            background: whitesmoke;
            cursor: pointer;
        }
    }

    &__blk-container {
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 150px;
    }

    &__blk {
        position: absolute;
        z-index: 11;
        top: 27px;
        bottom: 7px;
        width: 78.1px;
        border-radius: 5px;
        background: $green;
        opacity: 0.8;
        box-shadow: 0 0 8px rgba($dark-blue, 0.3);
        cursor: ew-resize;

        &:hover {
            box-shadow: 0 0 8px rgba($dark-blue, 0.4);
        }

        &:active {
            opacity: 0.7;
            box-shadow: 0 0 8px rgba($dark-blue, 0.2);
        }

        &--warn {
            background: $yellow;

            .timeline__blk-resize {
                color: darken($yellow, 15%);

                &:active {
                    color: $yellow;
                }
            }
        }

        &--disabled {
            opacity: 0.6;
            cursor: default;

            &:active {
                opacity: 0.6;
            }
        }
    }

    &__blk-compare {
        position: absolute;
        z-index: 10;
        top: 27px;
        bottom: 7px;
        border-radius: 5px;
        background: $gray-dark;
        opacity: 0.5;
    }

    &__blk-resize {
        position: absolute;
        width: 12px;
        height: 100%;
        color: darken($green, 15%);
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            width: 16px;
            font-size: 20px;
        }

        &:active {
            color: $green;
        }

        &--l {
            cursor: col-resize;
            left: -12px;

            &:active,
            &:hover {
                left: -16px;
            }
        }

        &--r {
            cursor: col-resize;
            right: -12px;

            &:active,
            &:hover {
                right: -16px;
            }
        }

        &--l-active {
            width: 16px;
            font-size: 20px;
            left: -16px;
        }

        &--r-active {
            width: 16px;
            font-size: 20px;
            right: -16px;
        }
    }

    &__blk-warning {
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        color: darken($yellow, 15%);
        font-size: 22px;
        pointer-events: none;
    }

    &__blk-time {
        bottom: 0;
    }
}
