<div class="input" data-ng-class="{ 'input--disabled': disable }">
    <label class="input__label" for="{{ inputid }}">{{ inputlabel }}</label>

    <input
        class="input__text {{ inputclasses }}"
        data-ng-disabled="disable"
        id="{{ inputid }}"
        name="{{ inputid }}"
        type="{{ inputtype }}"
        placeholder="{{ placeholder }}"
        data-ng-model="value"
        data-ng-required="required"
    />

    <span class="input__error"></span>
</div>
