<div data-mve-messages data-message="{{ subscriptionFormCtrl.messageText }}" data-success="subscriptionFormCtrl.messageSuccess" data-classes="{{ subscriptionFormCtrl.messageClasses }}" data-show-message="subscriptionFormCtrl.messageShow" data-button-message="true"></div>
<div data-mve-modal="Payment Information" data-modifier="{{ subscriptionFormCtrl.wideForm() }}" data-icon="assets/mastercard.svg">

    <div class="sub-modal">

        <div class="sub-modal__info" data-ng-show="!subscriptionFormCtrl.account.stripe.subscriptions.data[0]">
            <p>Maineve uses <a href="https://stripe.com">Stripe</a> to do all of our payment processing.</p>
            <p>Below is a simple breakdown of your current subscription details:</p>
            <ul class="sub-modal__list">
                <hr class="sub-modal__rule sub-modal__rule--top">
                <li class="sub-modal__item">
                    <span class="sub-modal__item-left">Current num. of spaces</span>
                    <!--<i class="sub-modal__question fas fa-question-circle"></i>-->
                    <span class="sub-modal__item-right">{{ subscriptionFormCtrl.rooms.length }}</span>
                </li>
                <li class="sub-modal__item">
                    <span class="sub-modal__item-left">Price per space</span>
                    <span class="sub-modal__item-right">{{ 999 / 100 | currency }}</span>
                </li>
                <hr class="sub-modal__rule">
                <li class="sub-modal__item">
                    <span class="sub-modal__item-left sub-modal__item-left--large">Total</span>
                    <span class="sub-modal__item-right sub-modal__item-right--large">{{ subscriptionFormCtrl.rooms.length * 999 / 100 | currency }}<span class="sub-modal__money">/MO. USD</span></span>
                </li>
            </ul>
        </div>

        <div class="sub-modal__form">
            <form data-stripe-form="processPayment">
                <fieldset>
                    <div data-mve-input="subscriptionFormCtrl.cardholder" data-disable="subscriptionFormCtrl.isLoading" data-placeholder="Name as it appears on card" data-label="Card holder name" data-type="text" data-ident="card-holder" data-classes="input__text"></div>
                    <div class="input" data-ng-class="{ 'input--disabled': subscriptionFormCtrl.isLoading }">
                        <label for="" class="input__label">Card Number</label>
                        <input type="text" class="input__text" placeholder="0000 0000 0000 0000" data-ng-disabled="subscriptionFormCtrl.isLoading" data-ng-model="number" data-payments-format="card">
                    </div>
                    <div class="input input--half" data-ng-class="{ 'input--disabled': subscriptionFormCtrl.isLoading }">
                        <label for="" class="input__label">Expiration (MM/YY)</label>
                        <input type="text" class="input__text" placeholder="00 / 00" data-ng-disabled="subscriptionFormCtrl.isLoading" data-ng-model="expiry" data-payments-format="expiry">
                    </div>
                    <div class="input input--half" data-ng-class="{ 'input--disabled': subscriptionFormCtrl.isLoading }">
                        <label for="" class="input__label">CVC</label>
                        <input type="text" class="input__text" placeholder="3 or 4 digit number" data-ng-disabled="subscriptionFormCtrl.isLoading" data-ng-model="cvc" data-payments-format="cvc">
                    </div>
                    <div class="button">
                        <button
                            type="submit"
                            class="button__button"
                            data-ng-click="subscriptionFormCtrl.showLoader()"
                            data-ng-class="{ 'button__button--loading': subscriptionFormCtrl.isLoading }"
                        >
                            {{ subscriptionFormCtrl.isLoading ? 'Processing...' : subscriptionFormCtrl.buttonText }}
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

</div>
