html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: $base-font-size;

  &.ngdialog-open {
    overflow: visible;
  }
}

.container {
    min-width: 850px;
}
