/**
 *  Base input styles
 */
.input {
    width: 100%;
    float: left;

    &--disabled {
        opacity: 0.5;
    }

    &--relative {
        position: relative;
    }

    &--auto {
        width: auto;
    }

    &--half {
        width: 48.5%;
        float: left;

        &:nth-child(2n) {
            width: 48.5%;
            float: right;
        }
    }

    &__label {
        display: block;
        margin: 0 0 5px 7px;
        font-weight: 600;
        font-size: 14px;

        &--hide {
            width: 0;
            height: 0;
            overflow: hidden;
        }
    }

    &__text,
    &__textarea,
    &__datepicker {
        @include placeholder;
        width: 100%;
        float: left;
        border-radius: 5px;
        border: 2px solid $gray-light;
        font-family: roboto;
        color: lighten($dark-blue, 10%);
        outline: none;
        height: 35px;
        margin: 0 0 15px;
        padding: 0 7px;
        font-size: 13px;
        font-weight: 400;
        line-height: 33px;

        &:focus,
        &:active {
            border-color: darken($gray-light, 5%);
        }

        &--large {
            height: 50px;
            margin: 0 0 20px;
            padding: 0 10px;
            font-size: 17px;
            line-height: 50px;
        }

        &--time-hour {
            width: 45px;
            float: left;
            text-align: center;
        }

        &--time-minute {
            width: 45px;
            float: left;
            text-align: center;
        }

        &--readonly {
            cursor: pointer;
            margin: 10px 0 7px;
        }
    }

    &__password-strength {
        position: absolute;
        height: 50px;
        width: 50px;
        top: 19px;
        right: 0;
        line-height: 50px;
        text-align: center;

        &--compact {
            width: 35px;
            height: 35px;
            line-height: 35px;
        }

        &--info {
            cursor: pointer;
        }

        &--checked {
            color: $green;
        }
    }

    &__password-info {
        position: absolute;
        top: 44px;
        width: 275px;
        text-align: left;
        line-height: 1;
        right: -15px;
        background: $green;
        color: white;
        border-radius: 3px;
        padding: 20px;
        font-size: 15px;
        border-bottom: 1px solid $green-highlight;

        &--compact {
            top: 36px;
            right: -6px;
        }
    }

    &__password-arrow {
        position: absolute;
        top: -7px;
        right: 31px;

        &--compact {
            right: 15px;
        }
    }

    &__password-help-header {
        margin-bottom: 5px;
        font-weight: bold;
    }

    &__password-help-list {
        list-style-type: disc;
        padding: 0 0 0 17px;
    }

    &__textarea {
        height: 140px;
        padding: 7px;
        line-height: 20px;
        resize: none;

        &--reservation {
            height: 243px;
            margin: 0;
        }
    }
}

/**
 *  Base button styles
 */
.button {
    &--inline {
        display: inline-block;
        float: left;
    }

    &__cancel {
        margin-left: auto;
    }

    &__button {
        font-family: roboto;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        color: white;
        background-color: $green;
        border: 0;
        padding: 0 10px;
        border-bottom: 1px solid $green-highlight;
        outline: none;
        cursor: pointer;
        min-width: 125px;
        line-height: 30px;
        border-radius: 2px;

        &:hover {
            background: $green-button-hover;
        }

        &:active {
            background: $green;
        }

        &--white {
            background: white;
            color: $dark-blue;
            border-color: $gray-dark;

            &:hover {
                background: $gray-light;
            }
        }

        &--disabled {
            background: $gray-light;
            color: lighten($gray-dark, 20%);
            border-color: lighten($gray-dark, 25%);
            cursor: auto;

            &:hover {
                background: $gray-light;
            }
        }

        &--red {
            background: $red;
            border-color: darken($red, 15%);

            &:hover {
                background: darken($red, 5%);
            }
        }

        &--large {
            min-width: 175px;
            line-height: 40px;
            padding: 0 15px;
        }

        &--menu-button {
            min-width: 175px;
            line-height: 36px;
            margin: 6px 0 0;
        }

        &--loading {
            animation: buttonloading 1.5s infinite linear;

            &:hover {
                background: transparent;
            }
        }

        &--text {
            font-family: $source-sans-pro;
            font-weight: 500;
            font-size: 15px;
            border: 0;
            background: transparent;
            color: $red;
            text-transform: capitalize;
            min-width: auto;

            &:hover {
                background: transparent;
                color: $dark-blue;
            }
        }
    }

    &__icon {
        margin: 0 5px 0 0;
    }
}

/**
 *  Standard radio button styles
 *
 *  Hint: These styles are currently used exclusively for the AM/PM
 *        for the datepicker input form.
 */
.radio {
    &--inline {
        display: inline-block;
        float: left;
    }

    &__label {
        padding: 3px 7px 5px;
        border: 1px solid $green-light;
        background: $green-light;
        cursor: pointer;
        display: inline-block;
        float: left;

        &--start {
            border-radius: 3px 0 0 3px;
        }

        &--end {
            border-radius: 0 3px 3px 0;
        }

        &--checked {
            background: $green;
        }
    }

    &__button {
        &--hidden {
            width: 0px;
            height: 0px;
            position: absolute;
            visibility: hidden;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
    }
}

/**
 *  Standard select form styles
 */
.select {
    margin: 0 0 15px;

    &--no-margin {
        margin: 0;
    }

    &--inline {
        display: inline-block;
        float: left;
        width: auto;
    }

    &__label {
        display: block;
        margin: 0 0 5px 7px;
        font-weight: 600;
        font-size: 14px;

        &--hide {
            width: 0;
            height: 0;
            overflow: hidden;
        }
    }
}

/**
 *  Custom checkbox
 */
.checkbox {
    display: inline-block;
    margin-left: 5px;

    &__label {
        cursor: pointer;
        font-size: 14px;
        vertical-align: middle;
        color: #4c5c67;

        &:hover {
            .checkbox__check {
                color: lightgray;
                border-color: lightgray;
            }
        }
    }

    &__check {
        display: inline-block;
        background: white;
        color: whitesmoke;
        padding: 2px;
        border-radius: 2px;
        border: 1px solid $gray-light;
    }

    &__input {
        visibility: hidden;
        position: absolute;
        width: 0;
        height: 0;
        left: -99999px;
    }

    &__input:checked ~ .checkbox__check {
        color: $red;
        border-color: lightgray;
    }
}
