h1 {
}

h2 {
    font-weight: bold;
    margin: 0 0 10px;
}

h3 {
    font-size: 18px;
    font-weight: normal;
    margin: 0 0 10px;
}

h4 {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 10px;
}

h5 {
    font-size: 14px;
    font-weight: normal;
    margin: 0 0 10px;
}

h6 {
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 10px;
}
