body {
    font-family: $source-sans-pro;
    color: $dark-blue;
}

p {
    font-size: 14px;
    line-height: 18px;
}

a {
    color: $green;
    text-decoration: none;
    outline: none;
    cursor: pointer;

    &:hover {
        color: $green-link-hover;
    }
}

.cap {
    text-transform: uppercase;
}
