<div class="modal__content modal__content--{{ modifier }}">
    <img class="modal__icon" src="{{ icon }}" width="35" height="35" alt="{{ title }}" title="{{ title }}">
    <h2 class="modal__title" data-ng-class="{ 'modal__title--icon': titleIcon }">{{ title }}</h2>
    <div class="modal__inner" data-ng-transclude></div>
    <a class="modal__cancel" data-ng-click="cancel()">{{ close || 'Cancel' }}</a>
</div>
