<div data-mve-messages data-message="{{ invitationCtrl.messageText }}" data-success="invitationCtrl.messageSuccess" data-classes="{{ invitationCtrl.messageClasses }}" data-show-message="invitationCtrl.messageShow" data-button-message="true"></div>
<div data-mve-modal="Invite your team" data-icon="assets/invite.svg">
    <div data-mve-form-wrapper data-loading-flag="invitationCtrl.isLoading" data-loading-text="Sending...">
        <p style="margin-bottom: 15px; font-size: 15px; line-height: 20px; text-align: center;">
            Invite members of your team to start using Maineve.
        </p>
        <div data-mve-input="invitationCtrl.inviteUser.email" data-label="Enter email address" data-disable="invitationCtrl.isLoading" data-type="text" data-ident="invitee-email" data-autofocus="true"></div>
        <div class="button">
            <button type="submit" data-ng-click="invitationCtrl.sendInvite()" class="button__button" data-ng-class="{ 'button__button--loading': invitationCtrl.isLoading }">Send Invite</button>
        </div>
    </div>
</div>
