<div data-mve-modal="{{ buildingFormCtrl.title }}" data-icon="assets/building.svg">
    <div data-mve-form-wrapper="buildingFormCtrl.buildingForm" data-loading-flag="buildingFormCtrl.isLoading" data-loading-text="Saving...">
        <div data-mve-input="buildingFormCtrl.building.name" data-disable="buildingFormCtrl.isLoading" data-label="Name" data-type="text" data-ident="building-name" data-required="true" data-autofocus="true"></div>
        <div data-mve-input="buildingFormCtrl.building.number" data-disable="buildingFormCtrl.isLoading" data-label="Building No." data-type="text" data-ident="building-number"></div>
        <div data-mve-input="buildingFormCtrl.building.location" data-disable="buildingFormCtrl.isLoading" data-label="Location" data-type="text" data-ident="building-location"></div>
        <div class="button">
            <button type="submit" data-ng-click="buildingFormCtrl.submitForm()" class="button__button" data-ng-class="{ 'button__button--loading': buildingFormCtrl.isLoading }">{{ buildingFormCtrl.buttonText }}</button>
        </div>
    </div>
</div>
