$gray-lightest:       #fcfcfc;
$gray-light:          #ebebeb;
$gray-medium:         #cccccc;
$gray-dark:           #a1a1a1;

$dark-blue:           #36424a;

$green:               #1cbbb4;
$green-light:         #4bcdc7;
$green-highlight:     #0d9b8c;
$green-button-hover:  lighten($green, 3%);
$green-link-hover:    lighten($green, 8%);
$green-success:       #66bc29;

$yellow:              #ffcb00;
$yellow-dark:         #ecac00;

$red:                 #ff5c5e;
