@keyframes buttonloading {
    0% {
        background: $green-button-hover;
    }

    50% {
        background: $green-highlight;
    }

    100% {
        background: $green-button-hover;
    }
}

@keyframes dropdown-flyin {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes dialog-flyin {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes dialog-flyout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
