/**
 *  Form placeholder attribute styles
 *
 *  Hint: An emtpy form will have placeholder text which is set by an attribute.
 *        these styles control how that placeholder looks.
 */
@mixin placeholder($color: $gray-dark, $transition: 0.3s, $lighten: 25%) {
    &::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: $color;
        font-weight: 300;
    }
    &:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: $color;
        opacity: 1;
        font-weight: 300;
    }
    &::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: $color;
        opacity: 1;
        font-weight: 300;
    }
    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $color;
        font-weight: 300;
    }

    &:focus {
        &::-webkit-input-placeholder {
            /* WebKit, Blink, Edge */
            transition: color $transition;
            color: lighten($color, $lighten);
        }
        &:-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            transition: color $transition;
            color: lighten($color, $lighten);
            opacity: 1;
        }
        &::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            transition: color $transition;
            color: lighten($color, $lighten);
            opacity: 1;
        }
        &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            transition: color $transition;
            color: lighten($color, $lighten);
        }
    }
}

/**
 *  Simple line icons direct CSS
 *
 *  Hint: Instead of putting a class on an element to make the icon appear.
 *        Use this mixin in the CSS declaration.
 */
@mixin icon($code, $location: "before") {
    &:#{$location} {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        font-weight: 900;
        text-rendering: auto;
        line-height: 1;
        font-family: "Font Awesome 5 Free";
        content: $code;
    }
}
