<div class="input" data-ng-class="{ 'input--disabled': disable }">
    <label class="input__label" for="{{ inputid }}">{{ inputlabel }}</label>
    <textarea class="input__textarea {{ inputclasses }}" data-ng-disabled="disable" name="{{ inputid }}" id="{{ inputid }}" placeholder="" data-ng-model="value"></textarea>
    <span class="input__error"></span>
</div>
