<div class="messages {{ classes }}" data-ng-class="{ 'messages--error': !success, 'messages--success': success }" data-ng-show="show">
    <span class="messages__message">{{ message }}</span>
    <div class="messages__arrow messages__arrow--error" data-ng-if="!success && button"></div>
</div>
