<div class="modal__content modal__content--confirm">
    <h2 class="modal__title">Confirm</h2>
    <div class="modal__inner">
        <p>
            {{ confirmText }}
        </p>
        <div class="button">
            <button
                type="submit"
                data-ng-click="confirm()"
                class="button__button button__button--red"
                data-ng-class="{ 'button__button--loading': isLoading }"
            >
                {{ confirmButtonText }}
            </button>

            <div class="checkbox">
                <label class="checkbox__label" for="confirm-multiple" data-ng-show="showConfirmMultiple">
                    <input
                        class="checkbox__input"
                        id="confirm-multiple"
                        type="checkbox"
                        data-ng-change="handleCheckChange()"
                        data-ng-model="confirmMultipleCheck"
                    />
                    <span class="checkbox__check fas fa-check"></span>
                    <span>{{ multipleConfirmText }}</span>
                </label>
            </div>
        </div>
        <a class="modal__cancel" data-ng-click="closeThisDialog()">Cancel</a>
    </div>
</div>
