@import "../../assets/styles/helpers/colors";
@import "../../assets/styles/helpers/fonts";

.search {
    position: relative;
    z-index: 999;
    margin: 0 0 0 auto;
    cursor: pointer;

    &__icon {
        display: block;
        padding: 10px;
        margin: 7px 7px 7px 0;
        border-radius: 30px;
        color: white;

        &:hover {
            color: white;
            background: lighten($dark-blue, 10%);
        }

        &:active {
            background: lighten($dark-blue, 8%);
        }
    }
}

.search-modal {
    position: absolute;
    z-index: 999;
    top: 90px;
    right: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;

    &__inner {
        width: 600px;
        background: white;
        border-radius: 4px;
        box-shadow: 0 0 15px rgba($dark-blue, 0.2);
        padding: 20px;
    }
}

.search-form {
    width: 100%;

    &__form {
        position: relative;
        flex: 1;
        padding: 0;
    }

    &__input-wrapper {
        display: flex;
        align-items: center;
    }

    &__input {
        width: 100%;
        background: $gray-light;
        border: 0;
        border-radius: 10px;
        padding: 10px 85px 10px 36px;
        font-size: 18px;
        font-family: $roboto;
        color: lighten($dark-blue, 20%);

        &:focus {
            color: $dark-blue;
            outline: none;
        }
    }

    &__input-icon {
        position: absolute;
        padding: 12px 11px;
        color: $dark-blue;
    }

    &__advanced-btn {
        position: absolute;
        top: 0;
        right: 0;
        border: 0;
        background: transparent;
        color: $dark-blue;
        height: 41px;
        padding: 0 10px;
        font-size: 17px;
        border-radius: 10px;
        border: 4px solid transparent;
        cursor: pointer;

        &:focus {
            outline: none;
        }

        &:hover {
            color: $green;
        }

        &:active {
            color: lighten($green, 2%);
        }
    }

    &__options-lnk {
        position: absolute;
        right: 75px;
        font-size: 15px;
        color: lighten($dark-blue, 20%);

        &:hover {
            color: $dark-blue;
        }

        &:active {
            color: lighten($dark-blue, 20%);
        }
    }

    &__options-arrow {
        margin: 0 3px 0 0;
    }

    &__cancel-btn {
        margin: 0 0 0 15px;
    }
}

.search-results {

    &__help {
        padding: 0 10px;
        text-align: center;

        p {
            font-size: 16px;
            color: $gray-dark;
            font-weight: 400;
            margin: 0 20px 10px 0;
        }

        ul {
            font-weight: 700;
            color: $gray-dark;
        }

        li {
            margin: 0 0 5px;
        }

        strong {
            font-weight: 700;
        }

        em {
            display: inline-block;
            background: $gray-light;
            color: $dark-blue;
            margin: 0 1px;
            padding: 2px 4px 3px;
            border-radius: 3px;
            font-size: 15.5px;
            font-weight: 600;
        }
    }

    &__hr {
        height: 1px;
        border: 0;
        background: $gray-light;
        margin: 20px 10px;
    }
}

.search-result {
    display: flex;
    align-items: center;
    margin: 0 0 2px;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;

    &:last-child {
        margin: 0;
    }

    &:hover {
        background: $green;
        color: white;

        .search-result__icon {
            color: white;
        }

        .search-result__header-icon {
            color: lighten($green, 15%);
        }
    }

    em {
        font-style: italic;
    }

    &--selected {
        background: lighten($gray-light, 3%);
    }

    &:active {
        background: darken($green, 2%);
    }

    &__icon {
        width: 40px;
        font-size: 25px;
        color: darken($gray-light, 5%);
    }

    &__header {
        display: flex;
        align-items: center;
        font-size: 18px;
        margin: 0 0 3px;
    }

    &__header-icon {
        margin: 0 0 0 7px;
        font-size: 12px;
        color: $green;
    }

    &__time {
        font-size: 15px;
        font-weight: 300;
    }
}
