@import "../../assets/styles/helpers/colors";

.profile-modal {
    position: absolute;
    z-index: 9999;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__modal {
        width: 450px;
        background: white;
        border-radius: 3px;
    }

    &__inner {
        border-top: 1px solid $gray-light;
        padding: 20px;
    }

    &__header {
        text-align: center;
        font-weight: 600;
        margin: 5px 0 10px;
    }

    &__icon {
        display: block;
        margin: -15px auto 0;
        border-radius: 20px;
        border: 2px solid white;
    }
}

.profile-btns {
    display: flex;
    align-items: center;

    &__saved {
        display: inline-block;
        margin-left: 10px;
        color: white;
        font-size: 13px;
        background: $green-success;
        padding: 4px 10px;
        border-radius: 10px;
    }
}

.profile-tabs {

    &__tablist {
        margin: 0 0 20px;
        border-bottom: 1px solid $gray-medium;
    }

    &__tab {
        display: inline-block;
        outline: none;
        cursor: pointer;
        margin: 0 10px 0 0;
        padding: 0 0 6px;
        color: $green;

        &:hover {
            color: $green-link-hover;
        }

        &:last-child {
            margin: 0;
        }

        &--selected {
            border-bottom: 2px solid $green;
        }
    }
}
