<div class="input input--relative" data-ng-class="{ 'input--disabled': disable }">
    <label class="input__label" for="{{ inputid }}">{{ inputlabel }}</label>
    <div class="input__dropdown" data-mve-dropdown="dropdownmenu" data-mve-dropdown-toggle="input__datepicker" data-mve-dropdown-close="dropdownmenu__close">
        <input id="{{ inputid }}" type="{{ inputtype }}" data-ng-model="value">
        <span class="input__datepicker {{ inputclasses }}">{{ display }}</span>
        <span class="input__error"></span>
        <div class="dropdownmenu dropdownmenu--datepicker">
            <img class="dropdownmenu__arrow" src="../../../assets/images/layout/dropdown-arrow.svg" width="18" height="7">
            <div class="date-picker">
                <!-- <div class="date-picker__time">
                <div class="select select--inline select--no-margin">
                    <select class="select__select" data-mve-select-two data-theme="dropdown-datepicker" data-disable-search="true" data-minimum-results-for-search="Infinity" style="width: 50px;" data-ng-model="valueObj.hours" data-ng-options="hour.val as hour.output for hour in hours" data-ng-change="saveDate()"></select>
                    <select class="select__select" data-mve-select-two data-theme="dropdown-datepicker" data-disable-search="true" data-minimum-results-for-search="Infinity" style="width: 50px;" data-ng-model="valueObj.minutes" data-ng-options="minute.val as minute.output for minute in minutes" data-ng-change="saveDate()"></select>
                </div>
                <div class="radio radio--inline">
                    <input class="radio__button radio__button--hidden" data-ng-model="ofDay" data-ng-change="saveDate()" type="radio" name="{{ inputid }}-radio" value="am" id="{{ inputid }}-am">
                    <label class="radio__label radio__label--start" data-ng-class="{'radio__label--checked': ofDay === 'am'}" for="{{ inputid }}-am">AM</label>
                    <input class="radio__button radio__button--hidden" data-ng-model="ofDay" data-ng-change="saveDate()" type="radio" name="{{ inputid }}-radio" value="pm" id="{{ inputid }}-pm">
                    <label class="radio__label radio__label--end" data-ng-class="{'radio__label--checked': ofDay === 'pm'}" for="{{ inputid }}-pm">PM</label>
                </div>
                <span class="dropdownmenu__close fas fa-close">Close</span>
                </div> -->
                <header class="date-picker__header">
                    <h3 class="date-picker__date">{{ datePickerCalendar.calendar.getDate().format('MMMM YYYY') }}</h3>
                    <a
                        class="date-picker__button date-picker__button--left icon-links fas fa-angle-left"
                        data-ng-click="datePickerCalendar.calendar.prev()"
                    >
                        <span class="icon-links__text">Previous</span>
                    </a>
                    <a
                        class="date-picker__button date-picker__button--right icon-links fas fa-angle-right"
                        data-ng-click="datePickerCalendar.calendar.next()"
                    >
                        <span class="icon-links__text">Next</span>
                    </a>
                </header>
                <div data-ui-calendar="datepickerConfig.calendar" data-ng-model="eventSources"></div>
            </div>
        </div>
    </div>
</div>
