@import "../../assets/styles/helpers/colors";

/**
 * Layout Anon Styles
 */
.layout-anon {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &__form {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: auto 0;
    }

    &__footer {
        text-align: center;
        margin: 0 0 20px;
    }

    &__footer-link {
        padding: 0 5px;
    }
}

/**
 *  Logo styles on anonymous pages
 */
.logo {
    background: url("../../assets/images/logo/gray.svg");
    width: 60px;
    height: 0;
    overflow: hidden;
    padding: 60px 0 0;
    box-sizing: content-box;
    margin: 0;
}

/**
 *  App Container Styles
 */
.app {
    min-width: 780px;
}

/**
 *  Header Styles
 */
.app-header {
    display: flex;
    background: $dark-blue;
    height: 50px;
}

/**
 *  Main App Window Styles
 */
.app-main {
    display: flex;
}

/**
 *  Main Navigation Styles
 */
.app-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 50px;

    &__list {
        margin: 0;
        padding: 0;
    }

    &__list-item {
        display: inline-block;
    }

    &__link {
        display: block;
        border: 1px solid $dark-blue;
        border-radius: 20px;
        padding: 7px 15px;
        margin: 0 2.5px;
        color: white;

        &--active,
        &:hover {
            border: 1px solid lighten($dark-blue, 10%)
        }
    }
}

/**
 *  Temp navigation before I get user dropdown menu built
 */
.app-temp {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-left: auto;
    position: relative;
    z-index: 1;
}

/**
 *  Angular App Root Styles
 */
.app-angular {
    width: 100%;
}

/**
 * Avatar
 */
.avatar {
    position: relative;
    z-index: 20;
    width: 36px;
    height: 36px;
    float: left;
    border-radius: 26px;
    margin: 7px 12px 6px 13px;
    padding: 0 0 0 19px;
    box-sizing: content-box;
    cursor: pointer;

    &:hover {
        .avatar__arrow {
            &:before {
                color: white;
            }
        }

        .avatar__arrow--active {
            &:before {
                color: white;
            }
        }
    }

    &__arrow {
        position: absolute;
        top: 9px;
        left: 0;

        &:before {
            color: lighten($dark-blue, 35%);
            font-size: 12px;
        }

        &--active {
            &:before {
                color: white;
            }
        }
    }

    img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }
}

/**
 * Text and Password Field Styles
 */
.text-field {
    position: relative;
    width: 100%;

    &--pot {
        width: 0;
        height: 0;
        overflow: hidden;
    }

    &__label {
        display: block;
        padding: 0 0 5px 7px;
        font-weight: 600;
        font-size: 14px;
    }

    &__input {
        width: 100%;
        border-radius: 5px;
        border: 2px solid $gray-light;
        font-family: roboto;
        color: lighten($dark-blue, 10%);
        outline: none;
        font-weight: 400;
        height: 50px;
        margin: 0 0 20px;
        padding: 0 10px;
        font-size: 17px;
        line-height: 50px;

        &:focus,
        &:active {
            border-color: darken($gray-light, 5%);
        }

        &--error {
            margin: 0;
        }

        &--small {
            height: 42px;
            font-size: 16px;
        }
    }

    &__error {
        display: inline-block;
        margin: 0 0 20px;
        padding: 5px 7px;
        font-size: 13px;
        color: $red;
    }

    &__icon {
        position: absolute;
        z-index: 1;
        right: 15px;
        top: 37px;
        color: $dark-blue;
        cursor: pointer;

        &--check {
            color: $green-success;
        }

        &--error {
            color: $red;
        }

        &--small {
            top: 33px;
        }
    }

    &__tooltip {
        position: absolute;
        z-index: 2;
    }
}

/**
 *  Confirm modal styles
 */
.confirm-modal {
    position: absolute;
    z-index: 999;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
        border-bottom: 1px solid $gray-light;
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        padding: 0 0 10px;
        margin: -5px -20px 15px;
    }

    p {
        font-size: 14.5px;
        margin-bottom: 20px;
    }

    &__inner {
        width: 400px;
        padding: 20px;
        background: white;
        border-radius: 3px;
        box-shadow: 0 0 15px $gray-medium;
    }

    &__btns {
        display: flex;
        align-items: center;
    }

    &__btn {
        font-family: roboto;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        color: white;
        background-color: $green;
        border: 0;
        padding: 0 10px;
        border-bottom: 1px solid $green-highlight;
        outline: none;
        cursor: pointer;
        min-width: 125px;
        line-height: 30px;
        border-radius: 2px;

        &:hover {
            background: $green-button-hover;
        }

        &:active {
            background: $green;
        }

        &--red {
            background: $red;
            border-color: darken($red, 15%);

            &:hover {
                background: darken($red, 5%);
            }
        }
    }

    &__cancel {
        margin-left: auto;
    }

    &__label {
        cursor: pointer;
        font-size: 14px;
        vertical-align: middle;
        color: #4c5c67;
        margin-left: 10px;

        &:hover {
            .confirm-modal__check {
                border-color: lightgray;
            }
        }
    }

    &__check {
        display: inline-block;
        background: white;
        color: lightgray;
        padding: 2px;
        border-radius: 2px;
        margin-right: 5px;
        border: 1px solid $gray-light;
    }

    &__input {
        visibility: hidden;
        position: absolute;
        width: 0;
        height: 0;
        left: -99999px;
    }

    &__input:checked ~ .confirm-modal__check {
        color: $red;
        border-color: lightgray;
    }
}

/**
 *
 */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    background: rgba($dark-blue, 0.3);
}
