<div data-mve-modal="Edit Account Information" data-icon="assets/notepad.svg">
    <div data-mve-form-wrapper data-loading-flag="accountFormCtrl.isLoading" data-loading-text="Saving...">
        <div data-mve-input="accountFormCtrl.account.name" data-disable="accountFormCtrl.isLoading" data-label="Organization Name" data-type="text" data-ident="account-name" data-autofocus="true"></div>
        <div class="select">
            <label class="select__label" for="">Timezone</label>
            <select
                class="select__select"
                data-mve-select-two
                data-width="100%"
                data-theme="modal"
                data-placeholder="Choose a room..."
                data-ng-model="accountFormCtrl.account.timezone"
                data-ng-options="timezone for timezone in accountFormCtrl.timezones"
                data-ng-disabled="accountFormCtrl.isLoading">
            </select>
        </div>
        <div class="button">
            <button type="submit" data-ng-click="accountFormCtrl.updateAccount()" class="button__button" data-ng-class="{ 'button__button--loading': accountFormCtrl.isLoading }">Save</button>
        </div>
    </div>
</div>
