@import "../../assets/styles/helpers/colors";
@import "../../assets/styles/helpers/keyframe-animations";

.anon-form {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0 20px;
    padding: 20px;

    &__buttons {
        position: relative;
        display: flex;
        width: 100%;
        align-items: center;
    }
}

.anon-button {
    font-family: roboto;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    background-color: $green;
    border: 0;
    border-bottom: 1px solid $green-highlight;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    min-width: 175px;
    line-height: 40px;
    padding: 0 15px;

    &:hover {
        background: $green-button-hover;
    }

    &:active {
        background: $green;
    }

    &--loading {
        animation: buttonloading 1.5s infinite linear;

        &:hover {
            background: transparent;
        }
    }
}

.alt-option {
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-top: 50px;
    font-size: 15px;
    color: $gray-dark;
}

/**
 *  Reset password links files
 */
 .reset-password {
    line-height: 1;
    margin-left: auto;
    font-size: 15px;
}

/**
 *  Tooltip Styles
 */
.anon-tooltip {
    border-radius: 3px;
    padding: 13px 15px;

    &__msg {
        display: block;
        font-size: 15px;
        line-height: 19px;
    }

    &__arrow {
        position: absolute;
        z-index: 0;
        pointer-events: none;
        font-size: 36px;
        bottom: -19px;
        color: $dark-blue;
    }

    &--standard {
        background: $dark-blue;
        color: white;
    }

    &--success {
        background: $green-success;
        color: white;
    }

    &--error {
        background: $red;
        color: white;

        .anon-tooltip__arrow {
            color: $red;
        }

        .password-help {
            ul {
                border-color: lighten($red, 7%);
            }
        }
    }

    &--button {
        position: absolute;
        z-index: 1;
        bottom: 52px;
        left: -10px;
        right: -10px;

        .anon-tooltip__arrow {
            left: 88px;
        }
    }

    &--icon {
        position: absolute;
        z-index: 1;
        bottom: 63px;
        left: -10px;
        right: -10px;

        .anon-tooltip__arrow {
            right: 23px;
        }
    }

    &--reservation {
        position: absolute;
        z-index: 1;
        bottom: 45px;
        width: 350px;
        right: 0px;

        .anon-tooltip__arrow {
            right: 100px;
        }
    }
}

/**
 * Password Help Styles
 */
.password-help {
    strong {
        font-weight: 600;
    }

    ul {
        list-style-type: circle;
        margin: 5px 0 10px;
        padding: 0 0 10px 18px;
        border-bottom: 1px solid lighten($dark-blue, 5%);
    }
}
